<!--
  FORMULARIO DE REGISTRO Y MODIFICACION DE DATOS DE TRABAJADORES
-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta blanco m-top_dow">

  <h1> <% titulo %> </h1>

  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">Nombres: </label>
    <input type="text" class="form-control" data-ng-model="sendData.nombre" form="trabForm">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">Apellidos: </label>
    <input type="text" class="form-control" data-ng-model="sendData.apellidos" form="trabForm">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">NSS: </label>
    <input type="text" class="form-control" data-ng-model="sendData.nss" form="trabForm">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">Cédula: </label>
    <input type="text" class="form-control" data-ng-model="sendData.cedula" form="trabForm">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">N° de Tel. / Celular: </label>
    <input type="text" class="form-control" data-ng-model="sendData.celular" form="trabForm">
  </div>
  <!-- <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">celular</label>
    <input type="text" class="form-control" data-ng-model="sendData.celular">
  </div> -->
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">Tipo: </label>
    <select name="" id="" class="form-control" placeholder="Catorcenal o Quincenal" data-ng-model="sendData.tipo">
      <option value="catorcenal">Catorcenal</option>
      <option value="quincenal">Quincenal</option>
    </select>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <label for="">Cargo: </label>
    <select name="" id="" class="form-control" data-ng-model="sendData.cargo">
      <option value="tcampo" selected>T. de Campo</option>
      <option value="administrativo">Administrativo</option>
      <option value="capataz">Capataz</option>
      <option value="guardia">Guardia</option>
      <option value="listero">Listero</option>
      <option value="chofer">Chofer</option>
      <option value="afanadora">Afanadora</option>
      <option value="fito sanitario">Fito Sanitario</option>
      <option value="tractorista">Tractorista</option>
      <option value="mecanico">Mecanico</option>
      <option value="respfinca">resp. Finca</option>
    </select>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-4">
    <br>
    <button id="save-trab" class="btn btn-default btn-primary" data-ng-click="save()"><% boton %></button>
    <i id="trabSpinner" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
    <span id="exitotrab" style="color:green; display:none;">Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
    <span id="errortrab" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
  </div>
</div>
<form id="trabForm"></form>
