<div class="view_Wrapper">

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 full_h lateral">
    <ul>
        <li><a data-ui-sref="/trabajadores.nuevo">Nuev0</a></li>
    </ul>
  </div>

  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 full_h view_body" data-ui-view>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-wrapper">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta gris m-top_dow">
        <h1>Listado de Trabajadores</h1>
        <form>
          <div class="form-group form-inline col-sm-4 col-md-4 col-lg-4">
            <label for="">Buscar: </label>
            <input type="text" class="form-control" data-ng-model="busqueda">
          </div>
          <div class="form-group form-inline col-sm-4 col-md-4 col-lg-4">
            <label class="label-control">Cargo: </label>
            <select class="form-control">
              <option value="">T. campo</option>
              <option value=""></option>
            </select>
          </div>
        </form>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-wrapper">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive table-container">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <thead>
              <tr class="active">
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>INSS</th>
                  <th>Cédula</th>
                  <th>N° Celular</th>
                  <th>Fecha Alta</th>
                  <th>Cargo</th>
                  <th>Tipo</th>
                  <th>Estado</th>
                  <th>Modificar</th>
                  <!-- <th>accion</th>
                  <th>Borrar</th> -->
              </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="trabajador in trabajadores" ><!-- data-ng-hide="trabajador.nombre != busqueda" -->
              <td> <% trabajador.id %> </td>
              <td> <% trabajador.nombre %> </td>
              <td> <% trabajador.apellidos %> </td>
              <td> <% trabajador.nss %> </td>
              <td> <% trabajador.cedula %> </td>
              <td> <% trabajador.celular %> </td>
              <td> <% trabajador.created_at %> </td>
              <td> <% trabajador.cargo %> </td>
              <td> <% trabajador.tipo | tipoTrab %> </td>
              <td> <span class="label <% trabajador.estado | labelState %>"> <% trabajador.estado | estadoTrab %> </span></td>
              <td><a href="" data-ui-sref="/trabajadores.editar({id:<% trabajador.id %>})")>Editar</a></td>
              <!-- <td><a href="">Dar de baja</a></td>
              <td><a href="" data-ui-sref="/trabajadores" data-ng-click='del(trabajador.id)'>Eliminar</a></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>











<!-- <div id="trabajadoresWrapper">
  <div class="col-md-2 lateral full_h tw-opciones">
    barra de opciones
  </div>
  <div class="data-ui-view col-md-10 full_h tw-cuerpo">
    <div class="col-md-12 tarjeta gris">
      <h1>Listado de Trabajadores</h1>
      <form>
        <div class="form-group form-inline">
          <label for="">Buscar: </label>
          <input type="text" class="form-control" data-ng-model="busqueda">
        </div>
      </form>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
          <tr class="active">
              <th>id</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>INSS</th>
              <th>Cédula</th>
              <th>N° Celular</th>
              <th>Fecha Alta</th>
              <th>Fecha Edicion</th>
              <th>Cargo</th>
              <th>Tipo</th>
              <th>Estado</th>
              <th>Modificar</th>
              <th>accion</th>
              <th>Borrar</th>
          </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="trabajador in trabajadores" >
          <td> <% trabajador.id %> </td>
          <td> <% trabajador.nombre %> </td>
          <td> <% trabajador.apellidos %> </td>
          <td> <% trabajador.nss %> </td>
          <td> <% trabajador.cedula %> </td>
          <td> <% trabajador.celular %> </td>
          <td> <% trabajador.created_at %> </td>
          <td> <% trabajador.updated_at %> </td>
          <td> <% trabajador.cargo %> </td>
          <td> <% trabajador.tipo %> </td>
          <td> <span class="label label-success"> <% trabajador.estado %> </span></td>
          <td><a href="" data-ui-sref="/trabajadores.editar({id:<% trabajador.id %>})")>Editar</a></td>
          <td><a href="">Dar de baja</a></td>
          <td><a href="" data-ui-sref="/trabajadores" data-ng-click='del(trabajador.id)'>Eliminar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
