<!-- <h1 class="col-md-12 col-lg-12" >Listado de trabajadores</h1> -->
<div id="trab_wrapper" class="fullH tabla">
  <div class="grisD opciones columna">
    <ul>
        <li><a data-ui-sref="/trabajadores.nuevo">Nuevo</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
        <li><a data-ui-sref="#/">Optiones</a></li>
    </ul>
  </div>
  <!-- <div data-ui-view></div> -->
  <div class="gris cuerpo columna">

      <div data-ui-view class="table-responsive col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <thead>
              <tr class="active">
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>INSS</th>
                  <th>Cédula</th>
                  <th>N° Celular</th>
                  <th>Fecha Alta</th>
                  <th>Fecha Edicion</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="trabajador in trabajadores">
              <td> <% trabajador.id %> </td>
              <td> <% trabajador.nombre %> </td>
              <td> <% trabajador.apellidos %> </td>
              <td> <% trabajador.nss %> </td>
              <td> <% trabajador.cedula %> </td>
              <td> <% trabajador.celular %> </td>
              <td> <% trabajador.created_at %> </td>
              <td> <% trabajador.updated_at %> </td>
              <td><a href="" data-ui-sref="/trabajadores.editar(<% trabajador.id %>)">Actualizar</a></td><!-- /<% trabajador.id %> -->
        			<td><a data-ng-click='del(trabajador.id)' data-ng-href="#/">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>
