.gris{
  background-color: #e9ebee;
}
.blanco {
  background-color: #fff;
}
.grisD{
  background-color: #aaa;
}
.lateral{
  background-color: rgb(50,50,50);
}
.full_h{
  height: calc(100vh - 52px);
}
.tarjeta {
  border-radius: 3px;
  box-shadow: 0 0 3px #aaa;
  padding: 15px;
}
.m-top_dow{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.table-container{
  padding: 0;
}

.form-wrapper{
  height: 40%;
}

.table-wrapper{
  padding: 0;
  //height: 60%;
  //overflow: scroll;
}
/*.view_body {
  overflow: scroll;
}*/
#fincabanner{
  height: 150px;
  background-color: black;
  color: #fff;
  margin-bottom: 5rem;
  background: url('/res/img/campoTabaco.jpg') no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
#uncatorcenal .modal-dialog {
  width: 80%;
}
#uncatorcenal .modal-body {
  overflow: scroll;
}
.blue-anchor {
  color: #3498db;
  cursor: pointer;
}
.blue-anchor:hover {
  text-decoration: underline;
}
