
.fullH{
  height:92.7vh;
}
.gris{
  background-color: #eee;
}
.grisD{
  background-color: #aaa;
}
.tabla{
  display:table;
}
.columna{
  display: table-cell;
}
.opciones{
  width: 20%;
}
.cuerpo{
  width: 80%;
}
