
.fullH{
  height:92.7vh;
}
.gris{
  background-color: #eee;
}
.grisD{
  background-color: #aaa;
}
.tabla{
  display:table;
}
.columna{
  display: table-cell;
  padding-top: 3rem;
}
.opciones{
  width: 20%;
  vertical-align: top;
  background-color: rgb(50,50,50);
  color:white;
  font-weight:bold;
  a{
    color:white;
  }
}
.cuerpo{
  width: 80%;
  min-width:80%;
  //overflow:scroll;
}
