<!--
  FORMULARIO PLANILLA QUINCENAL
-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body" data-ui-view>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta gris m-top_dow">
    <h1>Registro de Planilla Quincenal</h1>

    <form class="col-lg-12 col-md-12 col-sm-12">

      <div class="form-group">
        <label for="">Trabajador: </label>
        <select name="trabajador" id="trabajadorSelect" class="form-control" data-ng-model="pqSendData.id_trabajador">
          <optgroup label="trabajadores">
            <option data-ng-repeat="trabajador in trabQ" value="<% trabajador.id %>"><% trabajador.nombre+" "+trabajador.apellidos %></option>
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Finca:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.id_finc">
      </div>
      <div class="form-group">
        <label class="form-label">Salario:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.salario_quinc">
      </div>
      <div class="form-group">
        <label class="form-label">Días Subsidiados</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.subsidios">
      </div>
      <div class="form-group">
        <label class="form-label">Feriados Trabajados:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.feriado_trab">
      </div>
      <div class="form-group">
        <label class="form-label">Feriados No Trab:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.feriado_ntrab">
      </div>
      <div class="form-group">
        <label class="form-label">Días No Trab:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.dias_falt">
      </div>
      <div class="form-group">
        <label class="form-label">Horas extras:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.horas_ext">
      </div>
      <div class="form-group">
        <label class="form-label">Préstamos:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.prestamos">
      </div>
      <div class="form-group">
        <label class="form-label">Otros:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.otros">
      </div>
      <div class="form-group">
        <label class="form-label">Tipo:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.tipo">
      </div>
      <div class="form-group">
        <label class="form-label">Días Trabajados:</label>
        <input type="text" class="form-control" data-ng-model="pqSendData.dias_trab">
      </div>
      <div class="form-group">
        <label class="form-label">Fecha Inicial:</label>
        <input type="date" class="form-control" data-ng-model="pqSendData.fecha_ini">
      </div>
      <div class="form-group">
        <label class="form-label">Fecha Cierre:</label>
        <input type="date" class="form-control" data-ng-model="pqSendData.fecha_fin">
      </div>

      <div class="form-group">
        <button class="btn btn-default btn-primary" data-ng-click="pqSave()">Guardar</button>
      </div>
    </form>
  </div>
</div>
