<h1 class="col-lg-12 col-md-12 col-sm-12">Crear Finca Nueva</h1>
<form class="col-lg-12 col-md-12 col-sm-12">
  <div class="form-group col-sm-4 col-md-4 col-lg-5">
    <label for="">Nombre finca</label>
    <input type="text" class="form-control" data-ng-model="fincaSaveData.nombre">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-5">
    <label for="">Estado de Finca</label>
    <select name="" class="form-control" data-ng-model="fincaSaveData.estado">
      <option value="1">Activa</option>
      <option value="0">Inactiva</option>
    </select>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-2">
    <br>
    <button class="btn btn-default btn-primary" type="button" name="button" data-ng-click="fincaSave()">Guardar Finca</button>
    <i id="fincaSpinner" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
    <span id="exitofinca" style="color:green; display:none;">Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
    <span id="errorfinca" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-5">
    <label for="finca">Finca</label>
    <select name="finca" id="fincaSelect" class="form-control" data-ng-model="actividadSaveData.id_finca">
      <optgroup label="Fincas">
        <option data-ng-repeat="lafinca in fincas" value="<% lafinca.id %>"><% lafinca.nombre %></option>
      </optgroup>
    </select>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-5">
    <label for="">Nombre Actividad</label>
    <input type="text" class="form-control" data-ng-model="actividadSaveData.nombre">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-2">
    <br>
    <button class="btn btn-default btn-primary" type="button" name="button" data-ng-click="actividadSave()">Reg. actividad</button>
    <i id="actSpinner" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
    <span id="exitoact" style="color:green; display:none;">Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
    <span id="erroract" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-5">
    <label for="actividad">Actividad</label>
    <select name="actividad" id="actividadSelect" class="form-control" data-ng-model="laborSaveData.id_actividad">
      <optgroup label="Actividades">
        <option data-ng-repeat="laactividad in lasactividades" value="<% laactividad.id %>"><% laactividad.nombre %></option>
      </optgroup>
    </select>
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-5">
    <label for="">Nombre Labor</label>
    <input type="text" class="form-control" data-ng-model="laborSaveData.nombre">
  </div>
  <div class="form-group col-sm-4 col-md-4 col-lg-2">
    <br>
    <button class="btn btn-default btn-primary" type="button" name="button" data-ng-click="laborSave()">Registrar Labor</button>
    <i id="laborSpinner" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
    <span id="exitolabor" style="color:green; display:none;">Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
    <span id="errorlabor" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
  </div>
</form>
