<!--
  VISTA PANEL DE FINCAS
-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body" data-ui-view>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta blanco m-top_dow">
    <h1>Listado de Fincas</h1>
    <form>
      <div class="form-group">
        <a href="" data-ui-sref="/fincas.nueva" class="btn btn-default btn-primary">Nueva</a>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-wrapper">
    <h1  class="col-lg-12 col-md-12 col-sm-12">FINCAS</h1>
    <div data-ng-repeat="finca in fincas" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <a href="" class="thumbnail" data-ui-sref="/fincas.ver({id:<% finca.id %>})">
        <img src="res/img/campoTabaco.jpg" alt="ranko">
      </a>
      <h3><% finca.nombre %></h3>
    </div>
  </div>
</div>
