<!--
  VISTA PANEL DE FINCAS
-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body" data-ui-view>

  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta blanco m-top_dow">
    <h1>Listado de Fincas</h1>
    <form>
      <div class="form-group">
        <a href="" data-ui-sref="/fincas.nueva" class="btn btn-default btn-primary">Nueva</a>
      </div>
    </form>
  </div> -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="text-center">FINCAS</h1>
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="">Nueva Finca</label>
          <input type="text" class="form-control" data-ng-model="fincaSaveData.nombre" placeholder="Nombre de la finca">
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-primary" type="button" name="button" data-ng-click="fincaSave()">Guardar Finca</button>
          <i id="fincaSpinner" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
          <span id="exitofinca" style="color:green; display:none;">Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
          <span id="errorfinca" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-wrapper">
    <!--<h1  class="col-lg-12 col-md-12 col-sm-12">FINCAS</h1>
     <div data-ng-repeat="finca in fincas" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <a href="" class="thumbnail" data-ui-sref="/fincas.ver({id:<% finca.id %>})">
        <img src="res/img/campoTabaco.jpg" alt="ranko">
      </a>
      <h3><% finca.nombre %></h3>
    </div> -->
    <div class="panel panel-primary" data-ng-repeat="nfincas in nuevas_Fincas">
      <div class="panel-heading">
        <h4 class="panel-title"> <% nfincas.id_finca %><% nfincas.nombre_finca %> </h4>
      </div>
      <div class="panel-body">

      <ul class="list-group col-sm-3 col-md-3">
        <form class="list-group-item">
          <div class="form-group">
            <label for="actividad" class="control-label">Nueva Actividad</label>
            <!-- <input type="hidden" class="form-control"  data-ng-model="actividadSaveData.id_finca" data-ng-value="<% nfincas.id_finca %>" ng-init="actividadSaveData.id_finca = nfincas.id_finca"> -->
            <input type="text" class="form-control"  data-ng-model="actividadSaveData.nombre">
          </div>
          <div class="fom-group">
            <button class="btn btn-default btn-primary" data-ng-click="actividadSave(nfincas.id_finca)">registrar</button>
            <i id="actSpinner" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
            <span id="exitoact" style="color:green; display:none;">Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
            <span id="erroract" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
          </div>
        </form>
      </ul>

       <ul class="list-group col-sm-3 col-md-3" data-ng-repeat="listas in nfincas.actividades track by $index">
         <li class="list-group-item active"> <% nfincas.id_finca %> <% listas.id_actividad %> <% listas.nombre_actividad %> </li>
         <li class="list-group-item" data-ng-repeat="lavar in listas.labores track by $index">
           <% nfincas.id_finca %> <% listas.id_actividad %> <% lavar.nombre_labor %>
           <span class="badge badge-danger"> <i class="glyphicon glyphicon-minus"></i> </span>
         </li>
         <li class="list-group-item">

           <div class="input-group">
             <!-- <input type="hidden" data-ng-model="laborSaveData.id_finca" data-ng-value="nfincas.id_finca" data-ng-init="laborSaveData.id_finca = nfincas.id_finca"> -->
             <!-- <input type="hidden" data-ng-model="laborSaveData.id_actividad" data-ng-value="listas.id_actividad" data-ng-init="laborSaveData.id_actividad = listas.id_actividad"> -->
             <input class="form-control input-sm"  data-ng-model="laborSaveData.nombre" placeholder="registrar labor"></input>

             <span class="input-group-addon"  data-toggle="tooltip" data-placement="bottom" title="marcar si es labor de produccion | desmarcar si es labor por hora">
               <input class="chklabor" type="checkbox">
             </span>
            <div class="input-group-btn">
              <!-- Button and dropdown menu -->
              <!-- <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
              <ul class="dropdown-menu dropdown-menu-right" data-ng-model="laborSaveData.tipo_lab">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
              <select class="form-control input-sm">
                <option value="hora">hora</option>
                <option value=""></option>
                <option value=""></option>
              </select>-->
              <button class="btn btn-default btn-sm" type="button" data-ng-click="laborSave(listas.id_actividad, nfincas.id_finca)"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
          </div>
         </li>
       </ul>

        <ul class="list-group col-sm-3 col-md-3">
          <li class="list-group-item active">Lotes</li>
          <li class="list-group-item" data-ng-repeat="lotes in nfincas.lotes track by $index"> <% lotes.lote %> </li>
        </ul>

      </div>
    </div>

  </div>
</div>
