<div class="view_Wrapper">

  <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 full_h lateral">
    <p style="color:#fff">Opciones</p>
  </div> -->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 style="text-align: center;">Sistema de Planillas</h1>
        <h3 style="text-align: center;">TAFENIC.SA</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-wrapper">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta gris m-top_dow">
        <div id="mod-wrap">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <a href="#/trabajadores" class="thumbnail">
              <img src="res/img/campoTabaco.jpg" alt="ranko">
            </a>
            <h3>Trabajadores</h3>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <a href="#/fincas" class="thumbnail">
              <img src="res/img/campoTabaco.jpg" alt="ranko">
            </a>
            <h3>Fincas</h3>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <a href="#/preplanilla" class="thumbnail">
              <img src="res/img/campoTabaco.jpg" alt="ranko">
            </a>
            <h3>Preplanillas</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>







  <!-- <div id="pane_wrapper" class="fullH tabla">
    <div id="options" class="grisD columna opciones">
      <ul>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
      </ul>
    </div>
    <div id="main_content" class="gris columna cuerpo">
      <div class="flex-row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="#/trabajadores" class="thumbnail">
            <img src="res/img/campoTabaco.jpg" alt="ranko">
          </a>
          <h3>Trabajadores</h3>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="#/fincas" class="thumbnail">
            <img src="res/img/campoTabaco.jpg" alt="ranko">
          </a>
          <h3>Fincas</h3>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="#/preplanilla" class="thumbnail">
            <img src="res/img/campoTabaco.jpg" alt="ranko">
          </a>
          <h3>Preplanillas</h3>
        </div>
      </div>
    </div>

  </div> -->
