<!--
  Vista: Panel Principal
-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body">

    <div class="text-center">
      <h1>Sistema de Planillas</h1>
      <h3>TAFENIC.SA</h3>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta gris m-top_dow text-center">

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
        <a href="#/trabajadores" class="thumbnail">
          <img src="res/img/campoTabaco.jpg" alt="ranko">
        </a>
        <h3>Trabajadores</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <a href="#/fincas" class="thumbnail">
          <img src="res/img/campoTabaco.jpg" alt="ranko">
        </a>
        <h3>Fincas</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <a href="#/preplanilla" class="thumbnail">
          <img src="res/img/campoTabaco.jpg" alt="ranko">
        </a>
        <h3>Preplanillas</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <a href="#/reportes" class="thumbnail">
          <img src="res/img/campoTabaco.jpg" alt="ranko">
        </a>
        <h3>Reportes</h3>
      </div>

    </div>

  </div>
