  <div id="pane_wrapper" class="fullH tabla">
    <div id="options" class="grisD columna opciones">
      <ul>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
        <li>Opciones</li>
      </ul>
    </div>
    <div id="main_content" class="gris columna cuerpo">
      <div class="flex-row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="#/trabajadores" class="thumbnail">
            <img src="res/img/campoTabaco.jpg" alt="ranko">
          </a>
          <h3>Trabajadores</h3>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="#/fincas" class="thumbnail">
            <img src="res/img/campoTabaco.jpg" alt="ranko">
          </a>
          <h3>Fincas</h3>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="#/preplanilla" class="thumbnail">
            <img src="res/img/campoTabaco.jpg" alt="ranko">
          </a>
          <h3>Preplanillas</h3>
        </div>
      </div>
    </div>

  </div>
