
  <div class="modal-header">
      <buton class="close" aria-hidden="true" data-dismiss="modal">&times;</buton>
      <h4 class="modal-title"></h4>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
            <label for="finca">Finca</label>
            <input type="text" class="form-control" placeholder="Finca" name="finca" data-ng-model="fincaSaveData.nombre">
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text"class="form-control" placeholder="Estado" name="estado" data-ng-model="fincaSaveData.estado">
        </div>
    </form>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="fincaSave()">aceptar</button>
      <button class="btn btn-default" data-dismiss="modal">cancelar</button>
  </div>
