  <div class="loggin-wrapper fullH">
    <form id="loggin-form" class="col-ms-4 col-lg-4" style="margin:0 auto !important; float:none;">
      <h2>Acceso</h2>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input type="text" class="form-control" placeholder="User">
      </div>
      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <a data-ng-href="#/adminPane" class="btn btn-default btn-primary col-offset-5">Acceder</a>
      </div>
    </form>
  </div
