<div id="prep-wrapper" class="fullH tabla">
  <div class="opciones columna grisD">
    <ul>
      <li>Opciones</li>
      <li>Opciones</li>
      <li>Opciones</li>
      <li>Opciones</li>
      <li>Opciones</li>
      <li>Opciones</li>
      <li>Opciones</li>
      <li>Opciones</li>
    </ul>
  </div>
  <div class="cuerpo columna gris">

      <!-- <h1>preplanilla</h1> -->
      <form class="">
        <div class="col-md-6 col-lg-6">
          <div class="form-group ">
            <label for="">Trabajador </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.id_trabajador">
          </div>
          <div class="form-group">
            <label for="finca">Finca</label>
            <select name="finca" id="fincaSelect" class="form-control" data-ng-model="prepSenData.id_finca">
              <optgroup label="Finc" data-ng-controller="actividadController">
                <option data-ng-repeat="finca in lasfincas" value="<% finca.id %>"><% finca.nombre %></option>
              </optgroup>
            </select>
          </div>
          <div class="form-group ">
            <label for="">Actividad </label>
            <select name="actividad" class="form-control" data-ng-model="prepSendData.id_actividad">
              <optgroup label="Actividades">
                <option data-ng-repeat="actividades in preplanillas" value="<% actividades.actividad.id %>"><% actividades.nombre %></option>
              </optgroup>
            </select>
          </div>
          <div class="form-group ">
            <label for="">Labor </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.id_labor">
          </div>
          <div class="form-group ">
            <label for="">fecha </label>
            <input type="date" class="form-control" data-ng-model="prepSendData.fecha">
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="form-group ">
            <label for="">Listero </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.id_listero">
          </div>
          <div class="form-group ">
            <label for="">Responsable de finca </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.id_respFinca">
          </div>
          <div class="form-group ">
            <label for="">Cantidad </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.cantidad">
          </div>
          <div class="form-group ">
            <label for="">horas extra </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.hora_ext" pattern="[0-9]{1-3}">
          </div>
          <div class="form-group ">
            <label for="">Cuje Extra </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.actividad_ext">
          </div>
          <div class="form-group ">
            <label for="">Lote </label>
            <input type="text" class="form-control" data-ng-model="prepSendData.id_lote">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" data-ng-click="prepTrab()">Guardar</button>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table-striped table-bordered table-hover table-condensed">
          <thead>
            <tr class="active">

              <th>Nombres</th>
              <th>Labore</th>
              <th>Norm</th>
              <th>Ext</th>
              <th>S. Devengado</th>
              <th>Sept</th>
              <th>Alimentacion</th>
              <th>Aguinaldo</th>

            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="preplanilla in preplanillas">
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.trabajador.nombre %> </td>
              <td> <% preplanilla.hora_ext * 5 %> </td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>

</div>
