<form>
  <div class="form-group">
    <label for="">nombre</label>
    <input type="text" class="form-control" data-ng-model="sendData.nombre">
  </div>
    <div class="form-group">
      <label for="">apellidos</label>
      <input type="text" class="form-control" data-ng-model="sendData.apellidos">
    </div>
  <div class="form-group">
    <label for="">nss</label>
    <input type="text" class="form-control" data-ng-model="sendData.nss">
  </div>
  <div class="form-group">
    <label for="">cedula</label>
    <input type="text" class="form-control" data-ng-model="sendData.cedula">
  </div>
  <div class="form-group">
    <label for="">celular</label>
    <input type="text" class="form-control" data-ng-model="sendData.celular">
  </div>
  <div class="form-group">
    <button class="btn btn-default btn-primary" data-ng-click="save()"><% boton %></button>
  </div>
</form>
