
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body">
<h1 class="col-lg-12 col-md-12 col-sm-12"><% title %></h1>
<form class="col-lg-12 col-md-12 col-sm-12 tarjeta blanco m-top_dow" method="POST" action="finca_pdf">

  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="finca">Finca: </label>
    <select name="id_finca" class="form-control" data-ng-model="reporfinca.id_finca">
      <option data-ng-repeat="finc in fincs" value="<% finc.id %>"><% finc.nombre %></option>
    </select>
  </div>

  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="centroCosto">Centro de Costos: </label>
    <select name="centro_costo" class="form-control" data-ng-model="reporfinca.centro_costo">
      <!-- <optgroup label="actividades">
        <option data-ng-repeat="actividad in lasactividades" value="<% actividad.id %>"><% actividad.nombre %></option>
      </optgroup> -->
      <option value="0">Tabaco Sol</option>
      <option value="1">Tabaco Tapado</option>
      <option value="2">Semillero</option>
      <option value="3">Ensarte - Sol</option>
      <option value="4">Safadura - Sol</option>
      <option value="5">Ensarte - Tapado</option>
      <option value="6">Safadura - Tapado</option>
    </select>
  </div>

  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="fecha_ini">Fecha inicio</label>
    <input name="fecha_ini" type="date" class="form-control" data-ng-model="reporfinca.fecha_ini">
  </div>
  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="fecha_fin">Fecha fin</label>
    <input name="fecha_fin" type="date" class="form-control" data-ng-model="reporfinca.fecha_fin">
  </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <label for="">Buscar por Nombre: </label> <!--<% busquedaCriteria %>-->
          <input type="text" class="form-control" data-ng-model="busqueda">
        </div>
  <div class="form-group col-md-2 col-sm-2 col-lg-2"><br>
    <input type="button" value="Generar" class="btn btn-default btn-primary" data-ng-click="getPrepxfinc()">
    <i id="ccreportpin" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
    <span id="ccexitopin" style="color:green; display:none;"><i class="fa fa-check-circle fa-lg"></i></span>
    <span id="ccerrorpin" style="color:Red; display:none;"><i class="fa fa-times-circle fa-lg"></i></span>
  </div>
  <div class="form-group col-md-1 col-sm-1 col-lg-1"><br>
    <input type="submit" value="imprimir" class="btn btn-default btn-primary">
  </div>
</form>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive table-container">
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr class="active">
        <th data-ng-click="ordeReal = 'created_at.date' ">N°</th>
        <th data-ng-click="ordeReal = 'nombre' ">Nombre del trabajador</th>
        <th>Ocupación</th>
        <th>Días trabajados</th>
        <th>Tot. Devengado</th>
        <th>Alimentación</th>
        <th>Tot. Básico</th>
        <th>septimo</th>
        <th>Subsidio</th>
        <th>Otros</th>
        <th>Feriados</th>
        <th>Tot. Dev 2</th>
        <th>Horas Extra</th>
        <th data-ng-click="ordeReal = 'cant_act_ext' ">Activ Extra</th>
        <th>Tot H. Ext.</th>
        <th>Vacaciones</th>
        <th>Aguinaldo</th>
        <th>Tot.Acumulado</th>
        <th>INSS laboral</th>
        <th>Préstamos</th>
        <th>Tot. a Recibir</th>
        <th>INSS patronal</th>
        <th>Acción</th>

      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="reporfincTota in reporfincTot | orderBy:ordeReal | filter:busqueda as results">

        <td> <% $index + 1 %></td>
        <td> <% reporfincTota.nombre %> </td>
        <td> <li data-ng-repeat="labour in reporfincTota.labores track by $index"><% labour %> </li></td>
        <td> <% reporfincTota.dias %> </td>
        <td> <% reporfincTota.total_deven %> </td>
        <td> <% reporfincTota.alim_tot %> </td>
        <td> <% reporfincTota.total_basic %> </td>
        <td> <% reporfincTota.total_septimo %> </td>
        <td><% reporfincTota.subsidio %></td>
        <td><% reporfincTota.otros %></td>
        <td><% reporfincTota.feriado %></td>
        <td><% reporfincTota.devengado2 %></td>
        <td><% reporfincTota.cant_horas_ext%>  </td>
        <td><% reporfincTota.cant_act_ext%>  </td>
        <td><% reporfincTota.horas_ext_tot %></td>
        <td><% reporfincTota.vac_tot %></td>
        <td><% reporfincTota.agui_tot %></td>
        <td> <% reporfincTota.total_acum %> </td>
        <td><% reporfincTota.inss %></td>
        <td><% reporfincTota.prestamos %></td>
        <td> <% reporfincTota.salario_ %> </td>
        <td><% reporfincTota.inss_patronal %></td>
        <td><a href=""  data-toggle="modal" data-target="#uncatorcenal" data-ng-click="revision(reporfincTota.id_trab, $index, reporfincTota.fecha_ini, reporfincTota.fecha_fin)">Revisar</a></td>
        <!-- <td><a href=""  data-toggle="modal" data-target="#uncatorcenal" data-ng-click="revision(reporfincTota.id_trab, $index, reporfincTota.fecha_ini, reporfincTota.fecha_fin)">Revisar</a></td> -->
        <!-- <td> <% reporfincTota.aguinaldo %> </td>
        <td> <% reporfincTota.vacaciones %> </td> -->

      </tr>
      <tr>
        <td colspan="3">Total</td>
        <td><% totales.sum_dias_trab %></td>
        <td><% totales.sum_dev1 %></td>
        <td><% totales.sum_alim %></td>
        <td><% totales.sum_basico %></td>
        <td><% totales.sum_septimos %></td>
        <td><% totales.sum_subsidios %></td>
        <td><% totales.sum_otros %></td>
        <td><% totales.sum_feriados %></td>
        <td><% totales.sum_dev2 %></td>
        <td><% totales.sum_h_ext %></td>
        <td></td>
        <td><% totales.sum_tot_hext %></td>
        <td><% totales.sum_vacs %></td>
        <td><% totales.sum_aguin %></td>
        <td><% totales.sum_acum %></td>
        <td><% totales.sum_inss_lab %></td>
        <td><% totales.sum_prestam %></td>
        <td><% totales.sum_tot_recib %></td>
        <td><% totales.sum_inss_pat %></td>
        <!-- <td></td> -->
      </tr>
    </tbody>
  </table>
</div>
</div>

<!--************************************************************************************
                            VALORES MODAL START
****************************************************************************************-->
  <div class="modal fade" id="uncatorcenal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><% nombre14 %></h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr class="active">
                <th>N°</th>
                <th>Fecha</th>
                <th>Finca</th>
                <th>Actividad</th>
                <th>Labor</th>
                <th>Horas Trab.</th>
                <th>Horas Ext.</th>
                <th>Cuje G.</th>
                <th>Cuje P.</th>
                <th>Safa G.</th>
                <th>Safa P.</th>
                <th>Feriado</th>
                <th>Otros</th>
                <th>Prestamos</th>
                <th class="text-center" colspan="2">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="rTrab14 in trab14">
                <td> <% $index + 1 %></td>
                <td> <% rTrab14.fecha %> </td>
                <td> <% rTrab14.finca %> </td>
                <td> <% rTrab14.actividad %> </td>
                <td> <% rTrab14.labor %> </td>
                <td> <% rTrab14.hora_trab %> </td>
                <td> <% rTrab14.hora_ext %> </td>
                <td> <% rTrab14.tot_cuje_gran %> </td>
                <td> <% rTrab14.tot_cuje_peq %> </td>
                <td> <% rTrab14.tot_safa_gran %> </td>
                <td> <% rTrab14.tot_safa_peq %> </td>
                <td> <% rTrab14.feriados %> </td>
                <td> <% rTrab14.otros %> </td>
                <td> <% rTrab14.prestamo %> </td>
                <!-- <td><span class="blue-anchor" data-ng-click="updCatorce(rTrab14.id)">update</span></td> -->
                <td> <a target="_blank" href="/preplanilla/<% rTrab14.id %>/edit">Actualizar</a></td>
                <!-- <td><a href="" data-ui-sref="/preplanilla.editar({id: <% rTrab14.id %>})">update</a></td> -->
                <td><span class="blue-anchor" data-ng-click="delCatorce(rTrab14.id, $index, rTrab14.fecha)">eliminar</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <i id="" class="fa fa-spinner fa-pulse fa-lg" style="color:blue; display:none;"></i>
          <span id="" style="color:green; display:none;">Cambio Guardado! <i class="fa fa-check-circle fa-lg"></i></span>
          <span id="" style="color:Red; display:none;">Error: vuelve a intentarlo <i class="fa fa-times-circle fa-lg"></i></span>
          <!-- <button id="" class="btn btn-primary" data-ng-click="" >aceptar</button> -->
          <button class="btn btn-primary" data-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>
<!--************************************************************************************
                                VALORES MODAL END
****************************************************************************************-->
