
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body">
<h1 class="col-lg-12 col-md-12 col-sm-12">Planilla por Fincas</h1>
<form class="col-lg-12 col-md-12 col-sm-12 tarjeta gris m-top_dow">
  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="">Finca </label>
    <select name="finca" id="fincaSelect" class="form-control" data-ng-model="reporfinca.id_finca"  data-ng-change="getActividades()">
      <optgroup label="fincas">
        <option data-ng-repeat="finc in fincs" value="<% finc.id %>"><% finc.nombre %></option>
      </optgroup>
    </select>
  </div>
  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="">Actividad: </label>
    <select name="Actividad" id="actividadSelect" class="form-control" data-ng-model="reporfinca.id_finca">
      <optgroup label="fincas">
        <option data-ng-repeat="actividad in lasactividades" value="<% actividad.id %>"><% actividad.nombre %></option>
      </optgroup>
    </select>
  </div>
  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="">Fecha inicio</label>
    <input type="date" class="form-control" data-ng-model="reporfinca.fecha_ini">
  </div>
  <div class="form-group col-md-3 col-sm-3 col-lg-3">
    <label for="">Fecha fin</label>
    <input type="date" class="form-control" data-ng-model="reporfinca.fecha_fin">
  </div>
  <div class="form-group">
    <button class="btn btn-default btn-primary" ng-click="getPrepxfinc()">
      Ver
    </button>
  </div>
</form>

<div class="table-responsive table-container col-lg-12 col-md-12 col-sm-12">
  <table class="table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr class="active">

        <th>Nombre del trabajador</th>
        <th>Labores</th>
        <th>Días trabajados</th>
        <th>Tot. Devengado</th>
        <th>Alimentacion</th>
        <th>Tot. Básico</th>
        <th>Otros</th>
        <th>Feriados</th>
        <th>Horas Extra</th>
        <th>Vacaciones</th>
        <th>Aguinaldo</th>
        <th>Tot.Acumulado</th>
        <th>INSS laboral</th>
        <th>Prestamos</th>
        <th>Tot. a Recibir</th>

      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="reporfincTota in reporfincTot">
        <td> <% reporfincTota.nombre %> </td>
        <td> <li data-ng-repeat="labour in reporfincTota.labores track by $index"> <% labour %> </li></td>
        <td> <% reporfincTota.dias %> </td>
        <td> <% reporfincTota.total_deven %> </td>
        <td> <% reporfincTota.alim_tot %> </td>
        <td> <% reporfincTota.total_basic %> </td>
        <td> <% reporfincTota.vacaciones %> </td>
        <td> <% reporfincTota.aguinaldo %> </td>
        <td> <% reporfincTota.horas_ext_tot %> </td>
        <td><% reporfincTota.vac_tot %></td>
        <td><% reporfincTota.agui_tot %></td>
        <td> <% reporfincTota.total_acum %> </td>
        <td><% reporfincTota.inss %></td>
        <td></td>
        <td> <% reporfincTota.salario_ %> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
