    <form class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <label for="finca">Finca</label>
          <select name="finca" id="fincaSelect" class="form-control" data-ng-model="prepSendData.id_finca" data-ng-change="getActividades()">
            <optgroup label="Fincas">
              <option data-ng-repeat="finca in lasfincas" value="<% finca.id %>"><% finca.nombre %></option>
            </optgroup>
          </select>
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <label for="">Lote </label>
          <input type="text" class="form-control" data-ng-model="prepSendData.id_lote">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <label for="">fecha </label>
          <input type="date" class="form-control" data-ng-model="prepSendData.fecha">
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <label for="listero">Listero</label>
          <select name="listero" id="lsiteroSelect" class="form-control" data-ng-model="prepSendData.id_listero">
            <optgroup label="trabajadores" data-ng-controller="getAll">
              <option data-ng-repeat="trabajador in trabajadores" value="<% trabajador.id %>"><% trabajador.nombre %></option>
            </optgroup>
          </select>
        </div>
        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <label for="responsable">Responsable de finca</label>
          <select name="responsable" id="respFSelect" class="form-control" data-ng-model="prepSendData.id_respFinca">
            <optgroup label="trabajadores" data-ng-controller="getAll">
              <option data-ng-repeat="trabajador in trabajadores" value="<% trabajador.id %>"><% trabajador.nombre %></option>
            </optgroup>
          </select>
        </div>

        <div class="form-group col-sm-2 col-md-2 col-lg-2">
          <label for="">Trabajador </label>
          <select name="trabajador" id="trabajadorSelect" class="form-control" data-ng-model="prepSendData.id_trabajador">
            <optgroup label="trabajadores" data-ng-controller="getAll">
              <option data-ng-repeat="trabajador in trabajadores" value="<% trabajador.id %>"><% trabajador.nombre+" "+trabajador.apellidos %></option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label for="actividad">Actividad</label>
          <select name="actividad" id="actividadSelect" class="form-control" data-ng-model="prepSendData.id_actividad" data-ng-change="getLabores()">
            <optgroup label="Actividades" data-ng-controller="preplanilla">
              <option data-ng-repeat="actividad in lasactividades" value="<% actividad.id %>"><% actividad.nombre %></option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label for="labor">Labor</label>
          <select name="labor" id="laborSelect" class="form-control" data-ng-model="prepSendData.id_labor">
            <optgroup label="Labores" data-ng-controller="preplanilla">
              <option data-ng-repeat="labor in laslabores" value="<% labor.id %>"><% labor.nombre %></option>
            </optgroup>
          </select>
        </div>
        <div class="form-group ">
          <label for="">horas trabajadas </label>
          <input type="text" class="form-control" data-ng-model="prepSendData.hora_trab">
        </div>
        <div class="form-group ">
          <label for="">horas extra </label>
          <input type="text" class="form-control" data-ng-model="prepSendData.hora_ext">
        </div>
        <div class="form-group">
          <label for="" class="label-control">Tipo de Cuje: </label>
          <select class="form-control" data-ng-model="prepSendData.tipo_cuje">
            <option value="0">Pequeño</option>
            <option value="1">Grande</option>
          </select>
        </div>
        <div class="form-group">
          <label for="" class="label-control">Cant. Cujes</label>
          <input type="text" class="form-control" data-ng-model="prepSendData.cant_cujes">
        </div>
        <div class="form-group ">
          <label for="">Cuje Extra </label>
          <input type="text" class="form-control" data-ng-model="prepSendData.cuje_ext">
        </div>

      <div class="form-group">
        <button class="btn btn-primary" data-ng-click="prepTrab()">Guardar</button>
      </div>
    </form>

    <!-- <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
      <table class="table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr class="active">

            <th>Nombre</th>
            <th>Labor</th>
            <th>Horas trab.</th>
            <th>Horas Ext</th>
            <th>S. Devengado</th>
            <th>Alimentacion</th>
            <th>Vacaciones</th>
            <th>Aguinaldo</th>
            <th>S. acumulado</th>

          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="preplanilla in preplanillas">
            <td> <% preplanilla.nombres %> </td>
            <td> <% preplanilla.labor.nombre %> </td>
            <td> <% preplanilla.cantidad %> </td>
            <td> <% preplanilla.hora_ext %> </td>
            <td> <% preplanilla.salario_dev %> </td>
            <td> <% preplanilla.alimentacion %> </td>
            <td> <% preplanilla.vacaciones %> </td>
            <td> <% preplanilla.aguinaldo %> </td>
            <td> <% preplanilla.salario_acum %> </td>
          </tr>
        </tbody>
      </table>
    </div> -->
