<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body">

  <div class="text-center">
    <h1>Sistema de Planillas</h1>
    <h3>TAFENIC.SA</h3>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta blanco m-top_dow text-center">

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
      <a href="" data-ui-sref="/planilla" class="thumbnail">
        <img src="res/img/campoTabaco.jpg" alt="ranko">
      </a>
      <h3>Catorcenal</h3>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <a href="" data-ui-sref="/RplanillaQ" class="thumbnail">
        <img src="res/img/campoTabaco.jpg" alt="ranko">
      </a>
      <h3>Quincenal</h3>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <a href="" data-ui-sref="/prepxfinc" class="thumbnail">
        <img src="res/img/campoTabaco.jpg" alt="ranko">
      </a>
      <h3>Fincas</h3>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <a href="" data-ui-sref="/prepxtrab" class="thumbnail">
        <img src="res/img/campoTabaco.jpg" alt="ranko">
      </a>
      <h3>Trabajador</h3>
    </div>

  </div>

</div>
