<!--
  REPORTE PLANILLA QUINCENAL
-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body" data-ui-view>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tarjeta blanco m-top_dow">
    <h1>Planilla Quincenal</h1>
    <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12" method="post" action="reporte_quincenal">

      <div class="form-group col-md-4">
        <label for="" class="control-label">De: </label>
        <input name="fecha_ini" type="date" class="form-control" data-ng-model="RplillaQSendData.fecha_ini">
      </div>

      <div class="form-group col-md-4">
        <label for="" class="control-label">Hasta: </label>
        <input name="fecha_fin" type="date" class="form-control" data-ng-model="RplillaQSendData.fecha_fin">
      </div>

      <div class="form-group col-md-4">
        <label class="form-label">Tipo:</label>
        <select name='tipo' class="form-control" data-ng-model="RplillaQSendData.tipo">
          <option value="administrativo">Administrativos</option>
          <option value="servicios tecnicos">Servicios Técnicos</option>
        </select>
      </div>

      <div class="form-group col-md-2 col-md-offset-1">
        <br>
        <input type="button" class="btn btn-default btn-primary" data-ng-click="getPlanillaRQ()" value="Generar">
      </div>

      <div class="form-group col-md-2">
        <br>
        <input type="submit" class="btn btn-default btn-primary" name="funcion" value="Generar Imprimible">
      </div>

      <div class="form-group col-md-2">
        <br>
        <input type="submit" class="btn btn-default btn-primary" name="funcion" value="Generar sobres">
      </div>

      <div class="form-group col-md-2">
        <br>
        <input type="submit" class="btn btn-default btn-primary" name="funcion" value="Billetes">
      </div>

      <div class="form-group col-md-2">
        <br>
        <input type="submit" class="btn btn-default btn-primary" name="funcion" value="reporte_inss">
      </div>
    </form>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive table-container">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr class="active">
            <th>N°</th>
            <th>N° INSS</th>
            <th>Nombre de Trab.</th>
            <th>cargo</th>
            <th>Días trab.</th>
            <th>Básico</th>
            <th>Feriados</th>
            <th>Otros</th>
            <th>Subsidio</th>
            <th>Cant. H. Ext.</th>
            <th>Tot. H. Ext.</th>
            <th>Devengado</th>
            <th>INSS lab.</th>
            <th>IR</th>
            <th>Prestamos</th>
            <th>total_pagar</th>
            <th>INSS Patronal</th>
            <th>INATEC</th>
            <th>acción</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="reporteQ in reporQuinc | orderBy: 'nombre' ">
            <td> <% $index + 1 %></td>
            <td> <% reporteQ.inss %> </td>
            <td> <% reporteQ.nombre %> </td>
            <td> <% reporteQ.cargo %> </td>
            <td> <% reporteQ.dias_trab %> </td>
            <td> <% reporteQ.basico_real | currency: ' ' %> </td>
            <td> <% reporteQ.feriados | currency: ' ' %> </td>
            <td> <% reporteQ.otros | currency: ' ' %> </td>
            <td> <% reporteQ.subsidios | currency: ' ' %> </td>
            <td> <% reporteQ.horas_extra %> </td>
            <td> <% reporteQ.tot_h_ext | currency: ' ' %> </td>
            <td> <% reporteQ.devengado | currency: ' ' %> </td>
            <td> <% reporteQ.inss_laboral | currency: ' ' %></td>
            <td> <% reporteQ.ir | currency: ' ' %></td>
            <td> <% reporteQ.prestamos | currency: ' ' %> </td>
            <td> <% reporteQ.total_pagar | currency: ' ' %></td>
            <td> <% reporteQ.inss_patronal | currency: ' ' %> </td>
            <td> <% reporteQ.inatec | currency: ' ' %> </td>
            <td><a href="" data-ng-click="delQuince(reporteQ.id, $index, reporteQ)">Eliminar</a></td>

          </tr>
          <tr>
            <td colspan="4">Total</td>


            <td> <% totalesQ.sum_dias %> </td>
            <td> <% totalesQ.sum_basico | currency: ' ' %> </td>
            <td> <% totalesQ.sum_feriados | currency: ' ' %> </td>
            <td> <% totalesQ.sum_otros | currency: ' ' %> </td>
            <td> <% totalesQ.sum_subsidios | currency: ' ' %> </td>
            <td> <% totalesQ.sum_h_ext %> </td>
            <td> <% totalesQ.sum_tot_hext | currency: ' ' %> </td>
            <td> <% totalesQ.sum_dev | currency: ' ' %> </td>
            <td> <% totalesQ.sum_inss_lab | currency: ' ' %> </td>
            <td> <% totalesQ.sum_ir | currency: ' ' %> </td>
            <td> <% totalesQ.sum_prestamos | currency: ' ' %> </td>
            <td> <% totalesQ.sum_sum_pagar | currency: ' ' %> </td>
            <td> <% totalesQ.sum_inss_pat | currency: ' ' %> </td>
            <td> <% totalesQ.sum_inatec | currency: ' ' %> </td>
            <td>  </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
