
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full_h view_body">
  <h1 class="col-lg-12 col-md-12 col-sm-12">Planilla por Fincas</h1>
  <form class="col-lg-12 col-md-12 col-sm-12 tarjeta blanco m-top_dow" method="POST" action="finca_pdf">

    <div class="form-group col-md-3 col-sm-3 col-lg-3">
      <label for="fecha_ini">Fecha inicio</label>
      <input name="fecha_ini" type="date" class="form-control" data-ng-model="sendDataCC.fecha_ini">
    </div>
    <div class="form-group col-md-3 col-sm-3 col-lg-3">
      <label for="fecha_fin">Fecha fin</label>
      <input name="fecha_fin" type="date" class="form-control" data-ng-model="sendDataCC.fecha_fin">
    </div>
    <div class="form-group">
      <input type="button" value="Generar" class="btn btn-default btn-primary" data-ng-click="costosTotales()">
    </div>
    <!-- <div class="form-group">
      <input type="submit" value="imprimir" class="btn btn-default btn-primary">
    </div> -->

  </form>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive table-container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr class="active">
          <th>#</th>
          <th>Finca</th>
          <th>C. Costos</th>
          <th>Días trabajados</th>
          <th>Tot. Devengado</th>
          <th>Alimentación</th>
          <th>Tot. Básico</th>
          <th>septimo</th>
          <th>Subsidio</th>
          <th>Otros</th>
          <th>Feriados</th>
          <th>Tot. Dev 2</th>
          <th>Horas Extra</th>
          <th>Activ Extra</th>
          <th>Tot H. Ext.</th>
          <th>Vacaciones</th>
          <th>Aguinaldo</th>
          <th>Tot.Acumulado</th>
          <th>INSS laboral</th>
          <th>Préstamos</th>
          <th>Tot. a Recibir</th>
          <th>INSS patronal</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="totCostos in totcc">
          <td><% $index + 1 %></td>
          <td><% totCostos.nombre_finca %></td>
          <td><% totCostos.nombre_finca %></td>
          <td>dias trab</td>
          <td><% totCostos.calculo.sum_dev1 %></td>
          <td><% totCostos.calculo.sum_alim %></td>
          <td><% totCostos.calculo.sum_basico %></td>
          <td><% totCostos.calculo.sum_septimos %></td>
          <td><% totCostos.calculo.sum_subsidios %></td>
          <td><% totCostos.calculo.sum_otros %></td>
          <td><% totCostos.calculo.sum_feriados %></td>
          <td><% totCostos.calculo.sum_dev2 %></td>
          <td><% totCostos.calculo.sum_h_ext %></td>
          <td>activities</td>
          <td>activities ext</td>
          <td><% totCostos.calculo.sum_vacs %></td>
          <td><% totCostos.calculo.sum_aguin %></td>
          <td><% totCostos.calculo.sum_acum %></td>
          <td><% totCostos.calculo.sum_inss_lab %></td>
          <td><% totCostos.calculo.sum_prestam %></td>
          <td><% totCostos.calculo.sum_tot_recib %></td>
          <td><% totCostos.calculo.sum_inss_pat %></td>
          <!-- <td><a href=""  data-toggle="modal" data-target="#uncatorcenal" data-ng-click="revision(reporfincTota.id_trab, $index, reporfincTota.fecha_ini, reporfincTota.fecha_fin)">Revisar</a></td> -->
          <!-- <td> <% totcc. > </td>
          <td> <% totcc. td> -->

        </tr>
        <!-- <tr>
          <td colspan="3">Total</td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td></td>
          <td></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
          <td><% totcc. %></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
