table {
  border: 1px solid black;
}
h4,h5 {
  text-align: center;
}
th, td{
  font-family: sans-serif;
  font-size: 11px;
}
td li{
  list-style-type: none;
}
td hr{
  margin: 0;
}

.firmas {
  width: 33%;
  display: inline-block;
  float: left;
}
